body {
  background: hsl(0deg, 0%, 13%);
  color: white;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.heroSvg {
  position: absolute;
  z-index: 0;
  left: -55%;
  top: -8%;
  width: 150%;
}

.content {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  margin-top: 75%;
  position: relative;
  z-index: 1;
}
.content h1 {
  font-size: 1.5em;
}
.content .quote-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.content .quote-container .avatar {
  width: 25px;
  height: 25px;
  background: grey;
  border-radius: 50%;
  place-content: center;
}
.content .quote-container p {
  margin: 0 0.5em;
  font-size: 1em;
}
.content .cta {
  display: inline-block;
  font-family: "Farsan", cursive;
  font-size: 1em;
  letter-spacing: 1px;
  margin-top: 2.5em;
  background: hsl(197deg, 96%, 45%);
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 25px;
  font-weight: bold;
  border: 3px solid transparent;
  transition: 0.5s ease border;
}
.content .cta:hover {
  border: 3px solid white;
}

.projectsSectionSvg {
  position: absolute;
  left: 0;
  margin-top: 75px;
}

.spacer {
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.layer1 {
  background-image: url("../img/section-wave.svg");
}

.skills-container {
  padding-top: 150px;
}

@media (min-width: 840px) {
  body {
    font-size: 22px;
    overflow-x: hidden;
  }

  .content {
    text-align: left;
    width: 80%;
    margin: 10em auto 15em auto;
  }
  .content h1 {
    width: 50%;
  }
  .content .quote-container {
    display: flex;
    place-content: unset;
  }
  .content .quote-container p {
    margin-top: 0;
  }

  .heroSvg {
    left: unset;
    right: -5%;
    top: -8%;
    width: 1200px;
  }
}
.skills {
  width: 80%;
  margin: 5em auto 5em auto;
  padding-top: 85px;
  font-size: 14px;
}
.skills .skillsGrid {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3" ". box5 box5 box5 box5 box5 box4 box4 box4 box4 box4 ." ". . box7 box7 box6 box6 box6 box6 box8 box8 . .";
  grid-template-columns: repeat(12, 1fr);
}
.skills .skillsGrid div {
  text-align: center;
  border: 1px solid #f4f7fa;
  border-radius: 10px;
  padding: 1rem;
  color: #d3dfe8;
  transition: all 0.5s ease;
}
.skills .skillsGrid div:hover {
  cursor: default;
}
.skills .skillsGrid div h3 {
  color: #70acc9;
  font-size: 20px;
}
.skills .skillsGrid div i {
  font-size: 4rem;
  transition: all 0.5s ease;
  margin-bottom: 8px;
}
.skills .skillsGrid div ul {
  list-style: none;
  text-transform: capitalize;
}
.skills .skillsGrid div li {
  margin: 1rem 0;
  font-size: 1.2rem;
}
.skills .skillsGrid div:first-of-type {
  grid-area: box1;
}
.skills .skillsGrid div:first-of-type:hover {
  border-color: #f27641;
}
.skills .skillsGrid div:first-of-type:hover > i {
  color: #f27641;
}
.skills .skillsGrid div:nth-of-type(2) {
  grid-area: box2;
}
.skills .skillsGrid div:nth-of-type(2):hover {
  border-color: #6a85ec;
}
.skills .skillsGrid div:nth-of-type(2):hover > i {
  color: #6a85ec;
}
.skills .skillsGrid div:nth-of-type(3) {
  grid-area: box3;
}
.skills .skillsGrid div:nth-of-type(3):hover {
  border-color: #f2e066;
}
.skills .skillsGrid div:nth-of-type(3):hover > i {
  color: #f2e066;
}
.skills .skillsGrid div:nth-of-type(4) {
  grid-area: box4;
}
.skills .skillsGrid div:nth-of-type(4):hover {
  border-color: #41B883;
}
.skills .skillsGrid div:nth-of-type(4):hover > i {
  color: #41B883;
}
.skills .skillsGrid div:nth-of-type(5) {
  grid-area: box5;
}
.skills .skillsGrid div:nth-of-type(5):hover {
  border-color: #61DBFB;
}
.skills .skillsGrid div:nth-of-type(5):hover > i {
  color: #61DBFB;
}
.skills .skillsGrid div:nth-of-type(6) {
  grid-area: box6;
}
.skills .skillsGrid div:nth-of-type(6):hover {
  border-color: #3C873A;
}
.skills .skillsGrid div:nth-of-type(6):hover > i {
  color: #3C873A;
}
.skills .skillsGrid div:nth-of-type(7) {
  grid-area: box7;
}
.skills .skillsGrid div:nth-of-type(7):hover {
  border-color: #C1BEBC;
}
.skills .skillsGrid div:nth-of-type(7):hover > i {
  color: #C1BEBC;
}
.skills .skillsGrid div:nth-of-type(8) {
  grid-area: box8;
}
.skills .skillsGrid div:nth-of-type(8):hover {
  border-color: #F1502F;
}
.skills .skillsGrid div:nth-of-type(8):hover > i {
  color: #F1502F;
}

.header {
  font-family: "Kalam", cursive;
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

.headerStyle {
  color: white;
}
.headerStyle span {
  font-size: 4rem;
  color: #05a2e1;
}

.headerStyleInverse {
  color: #212121;
}
.headerStyleInverse span {
  font-size: 4rem;
  color: white;
}

.projects {
  width: 80%;
  margin: 5em auto 5em auto;
  padding-top: 125px;
  min-height: 900px;
}
.projects .projectsGrid {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: "box1 box1 box2 box2 box3 box3" "box4 box4 box5 box5 box6 box6";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 40px;
}
.projects .projectsGrid > div:nth-of-type(1) {
  grid-area: box1;
}
.projects .projectsGrid > div:nth-of-type(2) {
  grid-area: box2;
}
.projects .projectsGrid > div:nth-of-type(3) {
  grid-area: box3;
}
.projects .projectsGrid > div:nth-of-type(4) {
  grid-area: box4;
}
.projects .projectsGrid > div:nth-of-type(5) {
  grid-area: box5;
}
.projects .projectsGrid > div:nth-of-type(6) {
  grid-area: box6;
}
.projects .projectsGrid > div {
  width: 500px;
  height: 300px;
  background-color: white;
  color: black;
}
.projects .projectImage {
  background-image: url("../img/test.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 75%;
}
.projects .projectInfo {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1em;
}

@media screen and (min-width: 1220px) {
  .heroSvg {
    position: absolute;
    z-index: 0;
    left: unset;
    right: 0;
    top: -20%;
    overflow: hidden;
    width: 1400px;
  }
}
@media screen and (min-width: 2000px) {
  .heroSvg {
    position: absolute;
    z-index: 0;
    left: unset;
    right: -5%;
    top: -20%;
    overflow: hidden;
    width: 1900px;
  }

  .skills {
    margin-top: 650px;
  }
}

/*# sourceMappingURL=styles.css.map */
