* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: hsl(0deg, 0%, 13%);
  color: white;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.heroSvg {
  position: absolute;
  z-index: 0;
  left: -55%;
  top: -8%;
  width: 150%;
}

.content {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  margin-top: 75%;
  position: relative;
  z-index: 1;
}
.content h1 {
  font-size: 1.5em;
}
.content .quote-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.content .quote-container .avatar {
  width: 25px;
  height: 25px;
  background: grey;
  border-radius: 50%;
  place-content: center;
}
.content .quote-container p {
  margin: 0 0.5em;
  font-size: 1em;
}
.content .cta {
  display: inline-block;
  font-family: "Farsan", cursive;
  font-size: 1em;
  letter-spacing: 1px;
  margin-top: 2.5em;
  background: hsl(197deg, 96%, 45%);
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 25px;
  font-weight: bold;
  border: 3px solid transparent;
  transition: 0.25s ease border;
}
.content .cta:hover {
  border: 3px solid white;
}

.projectsSectionSvg {
  position: absolute;
  left: 0;
  margin-top: 75px;
}

.header {
  font-family: "Kalam", cursive;
  font-size: 4rem;
  margin-bottom: 2rem;
}
@media (max-width: 800px) {
  .header {
    font-size: 3rem;
    text-align: center;
  }
}

.headerStyle {
  color: white;
}
.headerStyle span {
  font-size: 4rem;
  color: #05a2e1;
}
@media (max-width: 800px) {
  .headerStyle span {
    font-size: 3rem;
  }
}

.headerStyleInverse {
  color: #212121;
}
.headerStyleInverse span {
  font-size: 4rem;
  color: white;
}
@media (max-width: 800px) {
  .headerStyleInverse span {
    font-size: 3rem;
  }
}

.spacer {
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.layer1 {
  background-image: url("../img/section-wave.svg");
}

.layer2 {
  background-image: url("../img/waveEnd.svg");
}

.skills-container {
  padding-top: 115px;
}
@media screen and (max-width: 800px) {
  .skills-container {
    padding-top: 0;
  }
}

@media (min-width: 840px) {
  body {
    font-size: 22px;
    overflow-x: hidden;
  }

  .content {
    text-align: left;
    width: 80%;
    margin: 10em auto 15em auto;
  }
  .content h1 {
    width: 50%;
  }
  .content .quote-container {
    display: flex;
    place-content: unset;
  }
  .content .quote-container p {
    margin-top: 0;
  }

  .heroSvg {
    left: unset;
    right: -5%;
    top: -8%;
    width: 1200px;
  }
}
.skills {
  width: 80%;
  max-width: 1700px;
  margin: 5em auto 5em auto;
  padding-top: 85px;
  font-size: 14px;
}
.skills .skillsGrid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3" ". box5 box5 box5 box5 box5 box4 box4 box4 box4 box4 ." ". . box7 box7 box6 box6 box6 box6 box8 box8 . .";
}
@media screen and (max-width: 1725px) {
  .skills .skillsGrid {
    grid-template-areas: "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3" "box5 box5 box5 box5 box5 box5 box4 box4 box4 box4 box4 box4" "box7 box7 box7 box7 box6 box6 box6 box6 box8 box8 box8 box8";
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 1170px) {
  .skills .skillsGrid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "box1 box1 box2 box2" "box3 box3 box4 box4" "box5 box5 box6 box6" "box7 box7 box8 box8";
  }
}
@media screen and (max-width: 800px) {
  .skills .skillsGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "box1 box1 " "box2 box2 " "box3 box3 " "box4 box4 " "box5 box5 " "box6 box6 " "box7 box7 " "box8 box8 ";
  }
}
.skills .skillsGrid div {
  text-align: center;
  border: 1px solid #f4f7fa;
  border-radius: 10px;
  padding: 1rem;
  color: #d3dfe8;
  transition: all 0.3s ease;
}
.skills .skillsGrid div:hover {
  cursor: default;
}
.skills .skillsGrid div h3 {
  color: #70acc9;
  font-size: 20px;
}
.skills .skillsGrid div i {
  font-size: 4rem;
  transition: all 0.5s ease;
  margin-bottom: 8px;
}
.skills .skillsGrid div ul {
  list-style: none;
  text-transform: capitalize;
}
.skills .skillsGrid div li {
  margin: 1rem 0;
  font-size: 1.2rem;
}
@media screen and (max-width: 1170px) {
  .skills .skillsGrid div li {
    font-size: 1rem;
  }
}
.skills .skillsGrid div:first-of-type {
  grid-area: box1;
}
.skills .skillsGrid div:first-of-type:hover {
  border-color: #f27641;
}
.skills .skillsGrid div:first-of-type:hover > i {
  color: #f27641;
}
.skills .skillsGrid div:nth-of-type(2) {
  grid-area: box2;
}
.skills .skillsGrid div:nth-of-type(2):hover {
  border-color: #6a85ec;
}
.skills .skillsGrid div:nth-of-type(2):hover > i {
  color: #6a85ec;
}
.skills .skillsGrid div:nth-of-type(3) {
  grid-area: box3;
}
.skills .skillsGrid div:nth-of-type(3):hover {
  border-color: #f2e066;
}
.skills .skillsGrid div:nth-of-type(3):hover > i {
  color: #f2e066;
}
.skills .skillsGrid div:nth-of-type(4) {
  grid-area: box4;
}
.skills .skillsGrid div:nth-of-type(4):hover {
  border-color: #41B883;
}
.skills .skillsGrid div:nth-of-type(4):hover > i {
  color: #41B883;
}
.skills .skillsGrid div:nth-of-type(5) {
  grid-area: box5;
}
.skills .skillsGrid div:nth-of-type(5):hover {
  border-color: #61DBFB;
}
.skills .skillsGrid div:nth-of-type(5):hover > i {
  color: #61DBFB;
}
.skills .skillsGrid div:nth-of-type(6) {
  grid-area: box6;
}
.skills .skillsGrid div:nth-of-type(6):hover {
  border-color: #3C873A;
}
.skills .skillsGrid div:nth-of-type(6):hover > i {
  color: #3C873A;
}
.skills .skillsGrid div:nth-of-type(7) {
  grid-area: box7;
}
.skills .skillsGrid div:nth-of-type(7):hover {
  border-color: #dfac8a;
}
.skills .skillsGrid div:nth-of-type(7):hover > i {
  color: #C1BEBC;
}
.skills .skillsGrid div:nth-of-type(8) {
  grid-area: box8;
}
.skills .skillsGrid div:nth-of-type(8):hover {
  border-color: #F1502F;
}
.skills .skillsGrid div:nth-of-type(8):hover > i {
  color: #F1502F;
}

.projects {
  width: 80%;
  max-width: 1600px;
  margin: 5em auto 0em auto;
  padding-top: 185px;
  font-family: "Kalam", cursive;
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  .projects {
    padding-top: 75px;
  }
}
.projects .projectsGrid {
  display: grid;
  grid-gap: 3rem;
  grid-template-areas: "box1 box1 box2 box2 box3 box3" "box4 box4 box4 box5 box5 box5";
  grid-template-columns: repeat(6, 1fr);
}
@media (max-width: 1600px) {
  .projects .projectsGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "box1 box2" "box3 box4" "box5 box5";
  }
}
@media (max-width: 1250px) {
  .projects .projectsGrid {
    grid-template-columns: 1fr;
    grid-template-areas: "box1" "box2" "box3" "box4" "box5";
  }
}
.projects .projectsGrid > div {
  margin-top: 2rem;
}
.projects .projectsGrid > div:nth-of-type(1) {
  grid-area: box1;
}
.projects .projectsGrid > div:nth-of-type(2) {
  grid-area: box2;
}
.projects .projectsGrid > div:nth-of-type(3) {
  grid-area: box3;
}
.projects .projectsGrid > div:nth-of-type(4) {
  grid-area: box4;
}
@media (min-width: 1600px) {
  .projects .projectsGrid > div:nth-of-type(4) {
    height: 350px;
  }
}
.projects .projectsGrid > div:nth-of-type(5) {
  grid-area: box5;
}
@media (min-width: 1250px) {
  .projects .projectsGrid > div:nth-of-type(5) {
    height: 350px;
  }
}
.projects .projectsGrid > div {
  position: relative;
  height: 300px;
  margin-bottom: 70px;
}
.projects .projectCard {
  border-radius: 10px;
  margin: 10px;
}
.projects .projectsCard-bg {
  border-radius: 10px;
  background: url("../img/test.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  border: 2px solid white;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .projectsCard-bg__1 {
  background: url("../img/pizza3.png");
  background-size: cover;
}
.projects .projectsCard-bg__2 {
  background: url("../img/journalApp.png");
  background-size: cover;
}
.projects .projectsCard-bg__3 {
  background: url("../img/dolla3.png");
  background-size: cover;
}
.projects .projectsCard-bg__4 {
  background: url("../img/champs.png");
  background-size: cover;
}
.projects .projectsCard-bg__5 {
  background: url("../img/memories.png");
  background-size: cover;
}
.projects .hiddenProjectInfo {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  height: 100%;
  background: rgba(21, 21, 21, 0.7);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s ease;
  text-align: center;
}
.projects .hiddenProjectInfo > h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.25em;
}
.projects .hiddenProjectInfo > p {
  width: 90%;
}
.projects .hiddenProjectInfo > * {
  transform: translateY(60px);
  transition: transform 0.25s ease;
}
.projects .hiddenProjectInfo:hover {
  opacity: 1;
  cursor: default;
}
.projects .hiddenProjectInfo:hover > * {
  transform: translateY(0);
}
.projects .blur {
  backdrop-filter: blur(5px);
}
.projects .projectsCard-links {
  text-align: center;
  margin-top: 12px;
  color: white;
  cursor: pointer;
}
.projects .projectsCard-links .projectsCard-links-btn {
  width: 100%;
  margin-top: 8px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px 0;
  transition: background-color 0.35s ease;
}
.projects .projectsCard-links .projectsCard-links-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.contactContent {
  padding-top: 15em;
  width: 80%;
  margin: 0 auto;
  font-family: "Kalam", cursive;
}
@media (min-width: 2100px) {
  .contactContent {
    padding-top: 18em;
  }
}
@media screen and (max-width: 1170px) {
  .contactContent {
    padding-top: 12em;
  }
}
.contactContent .contact__socials {
  text-align: center;
  margin: auto;
  font-size: 1.1rem;
  color: #fff;
  width: 80%;
}
.contactContent .contact__socials div {
  margin: 1rem;
}
.contactContent .contact__socials div h3 {
  color: #0590c7;
  text-transform: capitalize;
  font-size: 2rem;
}
@media (max-width: 1170px) {
  .contactContent .contact__socials div h3 {
    font-size: 1.8rem;
  }
}
@media (max-width: 800px) {
  .contactContent .contact__socials div h3 {
    font-size: 1.3rem;
  }
}
.contactContent .contact__socials div:last-of-type {
  display: flex;
  flex-direction: column;
}
.contactContent .contact__socials i {
  margin: 10px;
  font-size: 1.8rem;
  vertical-align: middle;
  transition: all 0.25s ease;
}
.contactContent .contact__socials i:hover {
  transform: translateY(-3px);
  color: #0590c7;
}

@media screen and (min-width: 1220px) {
  .heroSvg {
    position: absolute;
    z-index: 0;
    left: unset;
    right: 0;
    top: -20%;
    overflow: hidden;
    width: 1400px;
  }
}
@media screen and (min-width: 2000px) {
  .heroSvg {
    position: absolute;
    z-index: 0;
    left: unset;
    right: -5%;
    top: -20%;
    overflow: hidden;
    width: 1900px;
  }

  .skills {
    margin-top: 650px;
  }
}

/*# sourceMappingURL=styles.css.map */
