
$breakpoint2K: "2100px";

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: hsl(0, 0%, 13%);
    color: white;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.heroSvg {
    position: absolute;
    z-index: 0;
    left: -55%;
    top: -8%;
    width: 150%;
}

.content {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-top: 75%;
    position: relative;
    z-index: 1;

    h1 {
        font-size: 1.5em;
    }

    .quote-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-left: -6px;

        .avatar {
            // width: 25px;
            // height: 25px;
            // border-radius: 50%;
            // place-content: center;
            // background: grey;

            width: 50px;
            height: 50px;
            border-radius: 50%;
            place-content: center;
            background-image: url("../img/logoMQ.png");
            background-size: cover;
            background-position: center;
        }

        p {
            margin: 0 .5em;
            font-size: 1em;
        }
    }

    .cta {
        display: inline-block;
        font-family: 'Farsan', cursive;
        font-size: 1.4em;
        letter-spacing: 1px;
        margin-top: 2.5em;
        background: hsl(197, 96%, 45%);
        color: white;
        text-decoration: none;
        padding: .5em 1em;
        border-radius: 25px;
        font-weight: bold;
        border: 3px solid transparent;
        transition: .25s ease border;

        @media screen and (min-width: 1100px) {
            font-size: 1.2rem;
        }

        &:hover {
            border: 3px solid white;
        }
    }
}

.projectsSectionSvg {
    position: absolute;
    left: 0;
    margin-top: 75px;
}

.header {
    font-family: 'Kalam', cursive;
    font-size: 4rem;
    margin-bottom: 2rem;

    @media(max-width: 800px) {
        font-size: 3rem;
        text-align: center;
    };

    @media(min-width: 2100px) {
        margin-bottom: 3rem;
    };
}

.headerStyle {
    color: white;

    span {
        font-size: 4rem;
        color: #05a2e1;

        @media(max-width: 800px) {
            font-size: 3rem;
        };
    }
}

.headerStyleInverse {
    color: #212121;

    span {
        font-size: 4rem;
        color: white;

        @media(max-width: 800px) {
            font-size: 3rem;
        };
    }
}

.spacer {
    // aspect-ratio: 1440 / 1136;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.layer1 {
    background-image: url("../img/section-wave.svg");
}

.layer2 {
    background-image: url("../img/waveEnd.svg");
}

.skills-container {
    padding-top: 115px;

    @media screen and (max-width: 800px) {
        padding-top: 0;
    }
}


@media (min-width: 840px) {
    body {
        font-size: 22px;
        overflow-x: hidden;
    }

    .content {
        text-align: left;
        width: 80%;
        margin: 10em auto 15em auto;

        h1 {
            width: 50%;
        }

        .quote-container {
            display: flex;
            place-content: unset;

            p {
                margin-top: 0;
            }
        }
    }

    .heroSvg {
        left: unset;
        right: -5%;
        top: -8%;
        width: 1200px;
    }
}

.skills {
    width: 80%;
    max-width: 1700px;
    margin: 5em auto 5em auto;
    padding-top: 85px;
    font-size: 14px;

    .skillsGrid {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
            "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3" 
            ". box5 box5 box5 box5 box5 box4 box4 box4 box4 box4 ." 
            ". . box7 box7 box6 box6 box6 box6 box8 box8 . ."
        ;
        
         @media screen and (max-width: 1725px) {
             grid-template-areas: 
                 "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3" 
                 "box5 box5 box5 box5 box5 box5 box4 box4 box4 box4 box4 box4" 
                 "box7 box7 box7 box7 box6 box6 box6 box6 box8 box8 box8 box8"
             ; 

             font-size: .7rem;
         }

        @media screen and (max-width: 1170px) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 
                "box1 box1 box2 box2" 
                "box3 box3 box4 box4" 
                "box5 box5 box6 box6"
                "box7 box7 box8 box8"
            ; 

        }

        @media screen and (max-width: 800px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
                "box1 box1 " 
                "box2 box2 " 
                "box3 box3 " 
                "box4 box4 " 
                "box5 box5 "
                "box6 box6 "
                "box7 box7 "
                "box8 box8 "
            ; 
        }
    }

    .skillsGrid div {
        text-align: center;
        border: 1px solid #f4f7fa;
        border-radius: 10px;
        padding: 1rem;
        color: #d3dfe8;
        transition: all 0.3s ease;

        &:hover {
            cursor: default;
        }
    }

    .skillsGrid div h3 {
        color: #70acc9;
        font-size: 20px;
    }

    .skillsGrid div i {
        font-size: 4rem;
        transition: all 0.5s ease;
        margin-bottom: 8px;
    }

    .skillsGrid div ul {
        list-style: none;
        text-transform: capitalize;
    }

    .skillsGrid div li {
        margin: 1rem 0;
        font-size: 1.2rem;

        @media screen and (max-width: 1170px) {
            font-size: 1rem;
        }
    }

    .skillsGrid div:first-of-type {
        grid-area: box1;
    }

    .skillsGrid div:first-of-type:hover {
        border-color: #f27641;
    }

    .skillsGrid div:first-of-type:hover>i {
        color: #f27641;
    }

    .skillsGrid div:nth-of-type(2) {
        grid-area: box2;
    }

    .skillsGrid div:nth-of-type(2):hover {
        border-color: #6a85ec;
    }

    .skillsGrid div:nth-of-type(2):hover>i {
        color: #6a85ec;
    }

    .skillsGrid div:nth-of-type(3) {
        grid-area: box3;
    }

    .skillsGrid div:nth-of-type(3):hover {
        border-color: #f2e066;
    }

    .skillsGrid div:nth-of-type(3):hover>i {
        color: #f2e066;
    }

    .skillsGrid div:nth-of-type(4) {
        grid-area: box4;
    }

    .skillsGrid div:nth-of-type(4):hover {
        border-color: #41B883;
    }

    .skillsGrid div:nth-of-type(4):hover>i {
        color: #41B883;
    }

    .skillsGrid div:nth-of-type(5) {
        grid-area: box5;
    }

    .skillsGrid div:nth-of-type(5):hover {
        border-color: #61DBFB;
    }

    .skillsGrid div:nth-of-type(5):hover>i {
        color: #61DBFB;
    }

    .skillsGrid div:nth-of-type(6) {
        grid-area: box6;
    }

    .skillsGrid div:nth-of-type(6):hover {
        border-color: #3C873A;
    }

    .skillsGrid div:nth-of-type(6):hover>i {
        color: #3C873A;
    }

    .skillsGrid div:nth-of-type(7) {
        grid-area: box7;
    }

    .skillsGrid div:nth-of-type(7):hover {
        // border-color: #C1BEBC;
        border-color: #dfac8a;
    }

    .skillsGrid div:nth-of-type(7):hover>i {
        color: #C1BEBC;
    }

    .skillsGrid div:nth-of-type(8) {
        grid-area: box8;
    }

    .skillsGrid div:nth-of-type(8):hover {
        border-color: #F1502F;
    }

    .skillsGrid div:nth-of-type(8):hover>i {
        color: #F1502F;
    }
}


.projects {
    width: 80%;
    max-width: 1700px;
    margin: 5em auto 0em auto;
    padding-top: 185px;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    // padding-bottom: 200px;

    @media screen and (min-width: 2400px) {
        padding-top: 300px;
    }

    @media screen and (max-width: 800px) {
        padding-top: 75px;
    }


    .projectsGrid {
        display: grid;
        grid-gap: 3rem;
        grid-template-areas: 
            "box1 box1 box2 box2 box3 box3" 
            "box4 box4 box4 box5 box5 box5";
        grid-template-columns: repeat(6, 1fr);
        
        @media(max-width: 1600px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
                "box1 box2"
                "box3 box4"
                "box5 box5"
            ;
        }

        @media(max-width: 1250px) {
            grid-template-columns: 1fr;
            grid-template-areas: 
                "box1"
                "box2"
                "box3"
                "box4"
                "box5"
            ;
        } 
    }

    .projectsGrid > div {
        margin-top: 2rem;
    }

    .projectsGrid > div:nth-of-type(1) {
        grid-area: box1;
    }

    .projectsGrid > div:nth-of-type(2) {
        grid-area: box2;
    }

    .projectsGrid > div:nth-of-type(3) {
        grid-area: box3;
    }

    .projectsGrid > div:nth-of-type(4) {
        grid-area: box4;
        
        @media(min-width: 1600px) {
            height: 350px;
        }
    }

    .projectsGrid > div:nth-of-type(5) {
        grid-area: box5;

        @media(min-width: 1250px) {
            height: 350px;
        }
    }
    
    // .projectsGrid > div:nth-of-type(6) {
    //     grid-area: box6;
    // }

    .projectsGrid > div {
        position: relative;
        height: 300px;
        margin-bottom: 70px;
    }

    .projectCard {
        border-radius: 10px;
        margin: 10px;
    }

    .projectsCard-bg {
        border-radius: 10px;
        background: url("../img/test.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        border: 2px solid white;
        transition: all .3s ease;
        display: flex;
        justify-content: center;
        align-items: center;

        &__1 {
            background: url("../img/pizza3.png");
            background-size: cover;
        }

        &__2 {
            background: url("../img/journalApp.png");
            background-size: cover;
        }
        
        &__3 {
            background: url("../img/dolla3.png");
            background-size: cover;
        }
        
        &__4 {
            background: url("../img/champs.png");
            background-size: cover;
        }
        
        &__5 {
            background: url("../img/memories.png");
            background-size: cover;
        }
    }

    .hiddenProjectInfo {
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        height: 100%;
        background: rgba(21,21,21,0.7); 
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity .25s ease;
        text-align: center; 

        & > h3 {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: .25em;
        }

        & > p {
            width: 90%;
        }

        & > * {
            transform: translateY(60px);
            transition: transform 0.25s ease;
        }

        &:hover {
            opacity: 1;
            cursor: default;
        }

        &:hover > * {
            transform: translateY(0);
        }
    }

    .blur {
        backdrop-filter: blur(5px); 
    }

    .projectsCard-links {
        text-align: center;
        margin-top: 12px;
        color: white; 
        cursor: pointer;

        .projectsCard-links-btn {
            width: 100%;
            margin-top: 8px;
            border: 2px solid white;
            border-radius: 10px;
            padding: 5px 0;
            transition: background-color .35s ease;

            &:hover {
                background-color: rgba(33, 33, 33, 0.8);
            }
        }
    }
}

.contactContent {
    padding-top: 15em;
    width: 80%;
    max-width: 1700px;
    margin: 0 auto;
    font-family: 'Kalam', cursive;
    margin-bottom: 5em;

    @media(min-width: 2400px) {
        padding-top: 24em;
    };
    
    @media screen and (max-width: 1170px) {
        padding-top: 12em;
    }

    @media screen and (max-width: 600px) {
        margin-bottom: 3em;
    }

    .contact__socials {
        text-align: center;
        margin: auto;
        font-size: 1.1rem;
        color: #fff;
        width: 80%;
      }

      .contact__socials div {
        margin: 1rem;
      }

      .contact__socials div h3 {
        color: #0590c7;
        text-transform: capitalize;
        font-size: 2rem;

        @media(max-width: 1170px) {
            font-size: 1.8rem;
        };

        @media(max-width: 800px) {
            font-size: 1.3rem;
        };
      }

      .contact__socials div:last-of-type {
        display: flex;
        flex-direction: column;
      }

      .contact__socials i {
        margin: 10px;
        font-size: 1.8rem;
        vertical-align: middle;
        transition: all 0.25s ease;
      }

      .contact__socials i:hover {
        transform: translateY(-3px);
        color: #0590c7;
      }
}

@media screen and(min-width: 1220px) {
    .heroSvg {
        position: absolute;
        z-index: 0;
        left: unset;
        right: 0;
        top: -20%;
        overflow: hidden;
        width: 1400px;

        // position: absolute;
        // z-index: 0;
        // left: unset;
        // right: 0;
        // /* left: 0; */
        // top: 0;
        // overflow: hidden;
        // max-width: 100%;
    }
}


@media screen and(min-width: 2000px) {
    .heroSvg {
        position: absolute;
        z-index: 0;
        left: unset;
        right: -5%;
        top: -20%;
        overflow: hidden;
        width: 1900px;
    }

    .skills {
        margin-top: 650px;
    }
}


// Custom scrollbar for Google Chrome only

/* width */
::-webkit-scrollbar {
    width: 13px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px grey; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: lighten($color: #0590c7, $amount: 15); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: lighten($color: #0590c7, $amount: 25);; 
  }